.container {
  /* width: 640px; */
  max-width: 100%;
  margin: 0 auto;
}
.mainContent {
  width: 100%;
}
.mainContent :global(h4) {
  font-size: 2.8rem;
}
.mainContent :global(h5) {
  font-size: 2.5rem;
}
.mainContent :global(h6) {
  font-size: 2rem;
}

.mainContent p {
  width: 70%;
  margin: auto;
  min-height: 1.8rem;
}
.mainContent :global(p) {
  margin: 0.3rem 0;
  font-size: 1rem;
  min-height: 1.8rem;
  white-space: pre-wrap;
}
.mainContent :global(video),
.subContent :global(video),
.mainContent :global(img),
.subContent :global(img),
.mainContent :global(.asset-wrapper),
.subContent :global(.asset-wrapper) {
  max-width: 100%;
  display: inline-block;
  border: 3px groove #dddddd61;
  border-radius: 10px;
}
.mainContent :global(a) {
  color: var(--fg);
}
.mainContent :global(a) :hover {
  color: var(--hero-hover-fg);
}

.mainContent :global(.tweet),
.subContent :global(.tweet) {
  margin: 2rem auto;
  text-align: center;
}
.mainContent table,
.subContent table {
  margin: 1rem 0;
}
.mainContent ul,
.subContent ul {
  font-size: 1rem;
  list-style-type: square;
}
.mainContent ol,
.subContent ol {
  font-size: 1rem;
}

.mainContent p code,
.subContent p code {
  color: #eb5757;
  padding: 0.25rem;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .mainContent {
    width: 65%;
  }
  .subContent {
    width: 35%;
    padding: 0 3%;
  }
}
